################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Snapshot Tool/SnapshotTool/.vs/SnapshotTool/v15
/Snapshot Tool/.vs/SnapshotTool/v15
/Snapshot Tool/SnapshotTool/bin/Release
/DocumentExport/DocumentExport/.vs/DocumentExport/v15
/DocumentExport/.vs/DocumentExport/v15
/DocumentExport/DocumentExport/bin/Release
/DocumentExport/DocumentExport/bin/Debug
/DocumentExport/DocumentExport/bin
bin/
/DocumentExport/DocumentExport/obj/
/DocumentExport/DocumentExport/obj/Debug/DocumentExport.csproj.CoreCompileInputs.cache
/DocumentExport/DocumentExport/obj/Debug/DocumentExport.csprojAssemblyReference.cache
/DocumentExport/DocumentExport/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/DocumentExport/DocumentExport/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/DocumentExport/DocumentExport/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/DocumentExport/DocumentExport/obj/Debug/DocumentExport.csproj.CopyComplete
/DocumentExport/DocumentExport/obj/Debug/DocumentExport.csproj.FileListAbsolute.txt
/DocumentExport/DocumentExport/obj/Debug/DocumentExport.exe
/DocumentExport/DocumentExport/obj/Debug/DocumentExport.pdb
/MaintenanceItemChecker/.vs/MaintenanceItemChecker/v15
/SupportToolApp
/.gitattributes
