################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Snapshot Tool/SnapshotTool/.vs/SnapshotTool/v15
/Snapshot Tool/.vs/SnapshotTool/v15
/Snapshot Tool/SnapshotTool/bin/Release
/DocumentExport/DocumentExport/.vs/DocumentExport/v15
/DocumentExport/.vs/DocumentExport/v15
/DocumentExport/DocumentExport/bin/Release
/DocumentExport/DocumentExport/bin/Debug
/DocumentExport/DocumentExport/bin
bin/