<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="Sql" connectionString="Data Source=(local);Initial Catalog=RALNHV;User=RalWebClientAdmin;Password=ralwebclientadmin;Connection Timeout=30" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="SendEmail" value="false"/>
    <add key="SendEmailToAddress" value="support@rusada.com,kevin.cadd@rusada.com"/>
    <add key="SendFtp" value="true"/>
    <add key="ExportFolderLocation" value="C:\Users\kevin.cadd\Documents\"/>
    <add key="aircraftLimit" value="1"/>
    <add key="ftpAddress" value="rusada.exavault.com"/>
    <add key="ftpPort" value="21" />
    <add key="ftpUser" value="NHV"/>
    <add key="ftpPassword" value="ftp.2012.NHV"/>
    <add key="ftpDirectory" value="./"/>
  </appSettings>
</configuration>